.menu {
    &__menuNav {
        display: flex;
        flex-direction: column-reverse;
        gap: 32px;
        position: absolute;
        top: 90px;
        left: 0;
        height: 100%;
        width: 100%;
        text-align: center;
        background: linear-gradient(180deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
        padding: 40px;
        transform: matrix(1, 0, 0, -1, 0, 0);
        box-sizing: border-box;

        a {
            text-decoration: none;
            color: #333D4B;
            font-size: 24px;
            line-height: 32px;
            transform: matrix(1, 0, 0, -1, 0, 0);
        }
    }
}