.plan {
    &__hero {
        height: 400px;
        background-image: url('../../assets/plan/mobile/image-hero-blackcup.jpg');
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
    }

    &__heroText {
        max-width: 279px;
        color: #FEFCF7;
        text-align: center;

        h1 {
            margin-bottom: 24px;
        }

        p {
            opacity: 0.8;
        }
    }
}


@media screen and (min-width:'732px') {
}

@media screen and (min-width:'1200px') {
}