.home {
    &__hero {
        background-image: url('../../assets/home/mobile/image-hero-coffeepress.jpg');
        background-size: contain;
        height: 500px;
        border-radius: 10px;
    }
    &__heroText {
        padding: 0 24px;
        text-align: center;
        color: #FEFCF7;
        p {
            opacity: 0.8;      
        }
        button {
            font-size: 18px;
            background-color: #0E8784;
            padding: 16px 32px;
            border-radius: 6px;
            cursor: pointer;
        }
        
    }
}