.header {
    max-width: 380px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 40px;
    &__logoContainer {
        height: 18px;
        width: 163px;
        svg {
            height: 100%;
            width: 100%;
        }
    }
}

@media screen and (min-width:'700px') {
    .header {
        max-width: 689px;

    }
}