.nav {
    &__links {
        display: none;
    }
}

@media screen and (min-width:'732px') {
    .nav {
        display: flex;
        align-items: center;
        &__hamburger {
            display: none;
        }

        &__links {
            display: flex;
            gap: 32px;
            
            font-family: Barlow;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            a {
                text-decoration: none;
                color: #83888F;
            }
            a:hover {
                color: #333D4B;
            }
        }
    }
}