
.largeHeading {
    font-size: 72px;
    line-height: 72px;
}

section {
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Fraunces', 'sans-serif';
    // desktop
    // font-size: 72px;
    // line-height: 72px;
    // tablet
    // font-size: 48px;
    // line-height: 48px;
    font-size: 40px;
    line-height: 40px;
    font-weight: 900;
}

h2 {
    font-family: 'Fraunces', 'sans-serif';
    // desktop
    // font-size: 40px;
    // line-height: 48px;

    // tablet
    // font-size: 32px
    // line-height: 48px;

    font-size: 28px;
    line-height: 28px;
    font-weight: 900;
}

h3 {
    font-family: 'Fraunces', 'sans-serif';

    // desktop
    // font-size: 32px;
    // line-height: 36px;

    // tablet
    // font-size: 28px;
    // line-height: 32px;

    font-size: 28px;
    line-height: 32px;
    font-weight: 900;

}

h4 {
    // desktop
    // font-size: 24px;
    // line-height: 32px;

    // tablet
    // font-size: 24px
    // line-height: 32px;

    font-size: 24px;
    line-height: 32px;
    font-weight: 900;
}

p {
    
    font-family: 'Barlow', 'sans-serif';
    font-weight: 400;
    // desktop / tablet
    // font-size: 16px;
    // line-height: 26px;
    font-size: 15px;
    line-height: 25px
}

button {
    all: unset;
}

// tablet
@media screen and (min-width:'700px') {
    section {
        max-width: 689px;
    }


    h3 {
        font-size: 32px;
        line-height: 36px;
    }
}