@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap');

* {
    margin: 0;
}


body {
    margin: 32px 24px 76px 24px;
    background-color: #FEFCF7;
    font-family: 'Barlow', sans-serif;
    font-family: 'Fraunces', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

@media screen and (min-width:'732px') {
    body {
        margin: 32px 40px 76px 40px;
    }
}

@media screen and (min-width:'1200px') {
    body {
        margin: 32px 80px 76px 80px;
    }
}