@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap');

body {
    margin: 32px 24px 76px 24px;
    background-color: #F2F2F2;
    font-family: 'Barlow', sans-serif;
    font-family: 'Fraunces', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
